@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;





body::-webkit-scrollbar {
  display: none;
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #5D5CE8 100%);
  filter: blur(123px);
}


.bg-image {
  background-image: url(../public//images//footerBg.png);
}

.iamge-fixer {
  margin-bottom: -5px !important;
  margin-top: -4px !important;
  margin-left: -4px !important;
  margin-right: -4px !important;
}

.iamge1-fixer {
  margin-bottom: -5px !important;
  margin-top: -4px !important;
  margin-left: -4px !important;
  margin-right: -4px !important;
}

.instructor-fixer {
  margin-top: -500px !important;
}

.padding {
  padding-top: 150px !important;
}

.header {
  padding-bottom: 7px !important;
}

.padding-right {
  padding-left: 450px !important;
}

.w {
  width: fit-content !important;
}

.heading {
  font-weight: 800 !important;
  font-size: 68px I !important;
}

@layer components {
  .gradient-bg {
    @apply bg-gradient-to-r from-[#5D5CE8] to-[#06FFDF]
  }

  .text-gradient {
    @apply relative w-[100px] text-center bg-clip-text text-transparent text-[20px] bg-gradient-to-r  duration-500 from-white to-white hover:from-[#3534C0] hover:to-[#06FFDF]
  }

  .text-carries {
    @apply bg-clip-text text-transparent bg-gradient-to-r duration-500 from-[#5D5CE8] to-[#4489E6]
  }

  .text-gradient::after {
    @apply content-[''] bg-gradient-to-r from-[#3534C0] to-[#06FFDF] h-[3px] w-[0%] left-0 absolute -bottom-1 rounded-xl duration-500
  }

  .text-gradient:hover::after {
    @apply w-[100%]
  }

  .center-div {
    @apply flex items-center justify-center mx-auto
  }

  .absolute-center {
    @apply left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 transform
  }


  /* ---------------------------------- contact page text view -------------------------------------- */
  .heading-text {
    @apply text-white font-Orbitron font-extrabold text-center leading-[40px]
  }

  .sub-heading-text {
    @apply text-[#D5D5D5] font-Roboto font-light text-center
  }

  .input {
    outline: none;
    border-radius: 6px;
    border: 2px solid rgba(255, 255, 255, 0.08);
    background: rgba(10, 10, 36, 0.20);
  }

  .input-label {
    color: var(--bg-texts-white, #FFF);
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
  }

}

.project-showcase-size {
  width: 300.852px;
  height: 176.981px;
}

.image {
  width: 2800px;
  height: 1574px;
  flex-shrink: 0;
}

.about-image {
  width: 840px;
  height: 840px;
  flex-shrink: 0;
}

.blur-shadow {
  width: 900px;
  height: 900.745px;
  flex-shrink: 0;
  border-radius: 951.745px;
  opacity: 0.35;
  background: var(--Primary-Dark-Blue, #3534C0);
  filter: blur(300px);
}

.mobile-blur-shadow-gradient {
  opacity: 0.3;
  background: var(--Primary-Blue, #5D5CE8);
  filter: blur(162.24777221679688px);
}

.mobile-blur-shadow {
  width: 450.122px;
  height: 450.122px;
  flex-shrink: 0;
  border-radius: 450.122px;
  opacity: 0.3;
  background: var(--Primary-Blue, #5D5CE8);
  filter: blur(162.24777221679688px);
}

.about-blur-shadow {
  border-radius: 1000px;
  opacity: 0.3;
  background: var(--Primary-Blue, #5D5CE8);
  filter: blur(360.453125px);
}

.about-video-size {
  width: 1644px;
  height: 637px;
  flex-shrink: 0;
}

.footer {
  width: 1920px;
  height: 1080px;
  flex-shrink: 0;
  background: linear-gradient(180deg, #000 15.18%, rgba(0, 0, 0, 0.00) 33.73%);
}

.textColor {
  background: linear-gradient(90deg, #5D5CE8 0%, #4489E6 100%);
  /* background-clip: text; */
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.heading-style {
  color: var(--bg-texts-white, #FFF);
  text-align: center;

  /* Regular title 68 */
  font-family: Orbitron;
  font-size: 68px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.btn-gradient {
  display: flex;
  height: 60px;
  padding: 18px 32px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 6px;
  background: linear-gradient(90deg, #5D5CE8 0%, #6CB1FF 100%);
  box-shadow: 6px 6px 24px 0px rgba(93, 92, 232, 0.24);
}

.projectMovieCircel-gradient {
 
  background: linear-gradient(180deg, #5D5CE8 0%, #6CB1FF 100%);
  box-shadow: 3.091px 3.091px 24.727px 0px rgba(93, 92, 232, 0.32);
}

.projectMovieCircel-gradient:hover {
 
  background: linear-gradient(180deg, #3534C0 0%, #06FFDF 100%);
  box-shadow: 3.636px 3.636px 29.091px 0px rgba(93, 92, 232, 0.32);
}

/* job detils */
.box {
  display: flex;
  padding: 24px 30px;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  align-self: stretch;
}

.box-font {
  color: var(--bg-texts-white, #FFF);
  cursor: pointer;
  /* Body 20 */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  line-height: 26px;
  font-weight: 400;
  /* 130% */
}

.box:hover {
  border-radius: 6px;
  background: rgba(6, 255, 223, 0.05);
  color: var(--Primary-Light-Blue, #6CB1FF);
}

.box-active {
  border-radius: 6px;
  background: rgba(6, 255, 223, 0.05);
  color: var(--Primary-Light-Blue, #6CB1FF);
}

.details-text-heading {
  color: var(--bg-texts-white, #FFF);
  /* Very small title 26 */
  font-family: Roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.details-text-dec {
  color: var(--bg-texts-grey, #D5D5D5);

  /* Body 20 */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  opacity: .7;
  /* 130% */
}

/* footer */
.footer-text {
  color: var(--bg-texts-white, #FFF);

  /* Note 14 */
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  /* 128.571% */
}

.footer-text-right {
  color: var(--bg-texts-white, #FFF);

  /* Note 16 */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 125% */
}

.sub-text {
  color: var(--bg-texts-grey, #D5D5D5);
  text-align: center;

  font-family: Roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: 300;
  line-height: 40px;
}



.contact-text {
  color: var(--bg-texts-grey, #D5D5D5);

  /* Body 20 */
  font-family: Roboto;

  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 130% */
}

.home-video-size {
  width: 1652px !important;
  height: 665px !important;
}

/* mobile version */
.main-heading {
  color: var(--bg-texts-white, #FFF);
  text-align: center;

  /* Big Title Mobile 42 */
  font-family: Orbitron;
  font-size: 42px;
  font-style: normal;
  font-weight: 800;
  line-height: 46px;
  /* 109.524% */
}

.base-heading {
  color: var(--bg-texts-white, #FFF);
  text-align: center;

  /* Regular Title Mobile 34 */
  font-family: Orbitron;
  font-size: 34px;
  font-style: normal;
  font-weight: 800;
  line-height: 40px;
  /* 117.647% */
}

.small-heading {
  color: var(--bg-texts-white, #FFF);
  text-align: center;

  /* Regular Title Mobile 34 */
  font-family: Orbitron;
  font-size: 34px;
  font-style: normal;
  font-weight: 800;
  line-height: 40px;
  /* 117.647% */
}

.avater-size {
  width: 346px;
  height: 346px;
  flex-shrink: 0;
}

.main-shadow-gradient {
  width: 346px;
  height: 346px;
  flex-shrink: 0;
  border-radius: 450.122px;
  opacity: 0.3;
  background: var(--Primary-Blue, #5D5CE8);
  filter: blur(162.24777221679688px);
}

.mobile-project-moving {
  border-radius: 450.122px;
  opacity: 0.3;
  background: var(--Primary-Blue, #5D5CE8);
  filter: blur(162.24777221679688px);
}

.main-sub-heading {
  color: var(--bg-texts-white, #FFF);
  text-align: center;

  /* Body Mobile 22 */
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 36px;
  /* 163.636% */
}

.main-sub-heading-low {
  color: var(--bg-texts-white, #D5D5D5);
  text-align: center;

  /* Body Mobile 22 */
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 36px;
  /* 163.636% */
}

.background-color {
  background: rgba(0, 0, 0, 0.90);
  backdrop-filter: blur(20px);
}

.nav-box {
  display: flex;
  width: 353px;
  flex-direction: column;
  align-items: flex-start;
}




/* mobile text */

.large-mobile {
  color: var(--bg-texts-navy-blue, #0A0A24);

  /* Large Title Mobile 68 */
  font-family: Orbitron;
  font-size: 68px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.big-moblie {
  color: var(--bg-texts-navy-blue, #0A0A24);

  /* Big Title Mobile 42 */
  font-family: Orbitron;
  font-size: 42px;
  font-style: normal;
  font-weight: 800;
  line-height: 46px;
  /* 109.524% */
}

.regular-mobile {
  color: var(--bg-texts-navy-blue, #0A0A24);

  /* Regular Title Mobile 34 */
  font-family: Orbitron;
  font-size: 34px;
  font-style: normal;
  font-weight: 800;
  line-height: 40px;
  /* 117.647% */
}

.small-mobile {
  color: var(--bg-texts-navy-blue, #0A0A24);

  /* Small Title Mobile 32 */
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  /* 109.375% */
}

.very-small-mobile {
  color: var(--bg-texts-navy-blue, #0A0A24);

  /* Very Small Title Mobile 20 */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.body-mobile {
  color: var(--bg-texts-white, #FFF);

  /* Body Mobile 22 */
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 36px;
  /* 163.636% */
}

.project-btn {
  color: var(--bg-texts-white, #FFF);

  /* Button 20 */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  display: flex;
  height: 50px;
  padding: 18px 32px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  align-self: stretch;
  border-radius: 6px;
  background: linear-gradient(90deg, #5D5CE8 0%, #6CB1FF 100%);
  box-shadow: 6px 6px 24px 0px rgba(93, 92, 232, 0.24);
}

.about-mobile {
  width: 743.601px;
  height: 299.331px;
  flex-shrink: 0;
}


.mobile-heading {
  color: var(--bg-texts-white, #FFF);
  text-align: center;

  /* Regular Title Mobile 34 */
  font-family: Orbitron;
  font-size: 34px;
  font-style: normal;
  font-weight: 800;
  line-height: 40px;
  /* 117.647% */
}

.mobile-sub-heading {
  color: var(--bg-texts-grey, #D5D5D5);
  text-align: center;

  /* Body Mobile 22 */
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 36px;
  /* 163.636% */
}

/* for animation */

.border-drop {
  border-bottom: 1px solid rgba(93, 92, 232, 0.20);
}